.venv

*__pycache__*

archives/

**/*amh-layer.training_txt*
**/bak*
data/*ground-truth*
data/amh*
data/eng
data/tir

prepare_texts/cleaned_text*
prepare_texts/*info*
prepare_texts/combined_txts*
prepare_texts/training_texts*
prepare_texts/test*

generate_ground_truth/fonts.conf
generate_ground_truth/practice.py
generate_ground_truth/*ground-truth*
generate_ground_truth/log*

log_train/
out_*
cron*.log

**/char_freq*.log

fonts/.uuid

**/using-tesstrain/*output*/
**/using-tesstrain/*temp*/
**/using-tesstrain/amh-layer.training_txt*

generate_ground_truth/using-tesstrain/text*
generate_ground_truth/using-tesstrain/bak
generate_ground_truth/using-tesstrain/*-run_tesstrain.sh
